<!-- header -->
<%- include('include/header_common.ejs') -%>
<!-- /header -->

<!-- section -->
<div class="container">
  <h1 class="text-center text-primary heading">Login</h1>
</div>

<div class="container text-danger text-center">
  <% if(typeof message != undefined){ %> 
    <p><%= message %></p>
  <% } %>
</div>

<div class="container">
  <div class="box1">
    <div class="row">
      <div class="col border" id="padding-none"><img src="/flat-lay-notebook-with-list-desk.jpg" class="sign-img"></div>
        <div class="col padding border">
          <form action="/users/login" method="POST">
            <div class="form-group">
              <label for="exampleInputEmail1">Email / Username</label>
              <input type="text" class="form-control"  aria-describedby="emailHelp" value="" name="unameEmail" placeholder="Email/Username" required>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" value="" name="password" placeholder="Password" required>
            </div>
              <a href="#" id="forgotPasswordLink"class="text-primary float-right">Forgot Password ?</a>
              </br>
              <button type="submit" class="btn btn-primary mg-top">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /section -->

<!-- nested models -->
<%- include('nestedModel.ejs') -%>
<%- include('forgotPass.ejs') -%>

<!-- footer -->
<%- include('include/footer.ejs') -%>
<!-- /footer -->


