<!-- header -->
    <%- include('include/header_user.ejs') %>
    <!-- /header -->

    <!-- section -->
    <div class="container">
      <div class="text-center">
        <h1 class="text-primary heading">Todo Activities</h1>
      </div>
    </div>
    <div class="container">
      <div class="child-container">
        <div class="text-left">
          <button type="button" class="btn btn-primary margin-bottom">
            <a href="/todo" class="text-white" id="outline">Create Task</a>
          </button>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">S.No.</th>
              <th scope="col">Title</th>
              <th scope="col">Discription</th>
              <th scope="col">Priority</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% if(tasks.length > 0) { %>
              <% for(let i=0; i<tasks.length; i++) {  %>
                <tr>
                  <td><%= i+1 %></td>
                  <td><%= tasks[i].title %></td>
                  <td><%= tasks[i].discription %></td>
                  <td><%= tasks[i].priority %></td>
                  <td><%= tasks[i].status %></td>
                  <td>
                    <div>
                      <a href="/todo/edit/<%= tasks[i].id %>"><ion-icon name="pencil" class="color-pencil"></ion-icon></a>
                      <a href="/todo/delete/<%= tasks[i].id %>"><ion-icon name="trash" class="color-trash"></ion-icon></a>
                    </div>
                  </td>
                </tr>
             <% } %>
           <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- /section -->

     <!-- footer -->
  <%- include('include/footer.ejs') -%>
  <!-- /footer -->
  
