<!-- header -->
<%- include('include/header_user.ejs') %>
<!-- /header -->

<!-- section -->
<div class="container">
  <div class="text-center">
      <h1 class="text-primary heading">Todo Activities</h1>
  </div>
</div>

<div class="container">
  <div class="child-container">
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary margin-bottom" data-toggle="modal" data-target="#exampleModalCenter">
          Create Task
        </button>

        <!-- *********** -->
        
        <!-- ************** -->
        <!-- hover dropdown -->
        <div class="dropdown margin-left">
          <button
            class="btn btn-primary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Filter
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
         <form action="/filter-priority" method="POST" id="filterPriority">
              <label for="">Priority</label>
               <select name="priority" onchange="submitFilterPriority()" class="select-box">
                <%
                  var options = [ "", "High", "Medium", "Low" ];
                  for ( var i = 0; i < options.length; i++ )
                  {                      
                      if(options[i] == "") {
                      %>
                      <option value="<%=options[ i ] %>" <%=selected %>>All</option>
                      <% } else{ %>
                        <option value="<%=options[ i ] %>" <%=selected %>><%=options[i] %></option>
                      <%
                      }
                  }
                %>
              </select>
            </form>
          <form action="/filter-status" method="POST" id="filterStatus">
              <label for="">Status</label>
              <select name="status" onchange="submitFilterStatus()" class="select-box">
                <%
                  var options = [ "", "Pending", "Progress", "Done" ];
                  for ( var i = 0; i < options.length; i++ )
                  {  
                      if(options[i] == "") {
                      %>
                      <option value="<%=options[ i ] %>" <%=selected %>>All</option>
                      <% } else{ %>
                        <option value="<%=options[ i ] %>" <%=selected %>><%=options[i] %></option>
                      <%
                      }
                  }
                %>
              </select>
          </form>
        </div>
        </div>
      </div>
<!-- hover dropdown --> 

<div class="d-flex">
  <form class="example" action="/searchTask" method="GET">
    <div class="form-group has-search d-flex">
      <input type="text" class="form-control" placeholder="Search By Title" name="searchText">
      <button type="submit" class="search-btn"><ion-icon name="search"></ion-icon></button>
    </div>
  </form>
  <form action="/limit-data" method="post" id="limitForm">
    <select name="limit" onchange="submitForm()" class="select-box">
        <%
          var options = [ "", "5", "10", "20", "50" ];
          for ( var i = 0; i < options.length; i++ )
          {
              var selected = ( limit == options[ i ] ) ? "selected" : "";
              
              if(options[i] == "") {
              %>
              <option value="<%=options[ i ] %>" <%=selected %>>All</option>
              <% } else{ %>
                <option value="<%=options[ i ] %>" <%=selected %>><%=options[i] %></option>
              <%
              }
          }
        %>
    </select>
  </form>
  </div>
</div>
        <table class="table table-striped" id="searchResults">
          <thead>
            <tr>
              <th scope="col">S.No.</th>
              <th scope="col">Title</th>
              <th scope="col">Discription</th>
              <th scope="col">Priority</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% if(tasks.length > 0) { %>
              <% for(let i=0; i<tasks.length; i++) {  %>
                <tr>
                  <td><%= i+1 %></td>
                  <td><%= tasks[i].title %></td>
                  <td><%= tasks[i].discription %></td>
                  <td><%= tasks[i].priority %></td>
                  <td><%= tasks[i].status %></td>
                  <td>
                    <div>
                      <a href="/todo/edit/<%= tasks[i].id %>"><ion-icon name="pencil" class="color-pencil"></ion-icon></a> 
                      <a href="/todo/delete/<%= tasks[i].id %>"><ion-icon name="trash" class="color-trash"></ion-icon></a>
                    </div>
                  </td>
                </tr>
             <% } %>
           <% } %>
          </tbody>
        </table>
      </div>
    </div>
<!-- /section -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <div class="container">
      <div class="text-center">
        <h1 class="heading text-primary">Create Todo</h1>
      </div>
    </div>
    <div class="outer-container">
      <div class="inner-container">
        <div class="container">
          <form action="/todo" method="POST">
            <div class="form-group">
              <label for="exampleFormControlInput1">Title</label>
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                value=""
                name="title"
                placeholder="Title"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Discription</label>
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                value=""
                name="discription"
                placeholder="Description"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Priority</label>
              <select
                class="form-control"
                id="exampleFormControlSelect1"
                value=""
                name="priority"
              >
                <option>High</option>
                <option>Medium</option>
                <option>Low</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Status</label>
              <select
                class="form-control"
                id="exampleFormControlSelect1"
                value=""
                name="status"
              >
                <option>Pending</option>
                <option>Progress</option>
                <option>Done</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<!-- /modal -->

<!-- pagging -->
<div class="container text-center">
<% if (totalPages > 1) { %>
  <div>
    <% if (page > 1) { %>
      <a href="/todo?page=<%= page - 1 %>">Previous</a>
    <% } %>

    <% if (page < totalPages) { %>
      <a href="/todo?page=<%= page + 1 %>">Next</a>
    <% } %>
  </div>
<% } %>
</div>

<!-- js for select box -->
<script>
  function submitForm() {
    document.getElementById('limitForm').submit();
  }

  function submitFilterPriority(){
    document.getElementById('filterPriority').submit();
  }

  function submitFilterStatus(){
    document.getElementById('filterStatus').submit();
  }
</script>

<!-- footer -->
<%- include('include/footer.ejs') -%>
<!-- /footer -->
  
