<!-- header -->
<%- include('include/header_admin.ejs') %>
<!-- /header -->

<!-- section -->
<div class="container">
  <div class="text-center">
    <h1 class="text-primary heading">All Users</h1>
  </div>
</div>
<div class="container">
  <div class="child-container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Username</th>
          <th scope="col">Password</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(function(user) { %>
        <tr>
          <td><%= user._id %></td>
          <td><%= user.firstname %></td>
          <td><%= user.lastname %></td>
          <td><%= user.email %></td>
          <td><%= user.username %></td>
          <td><%= user.password %></td>
          <td><%= user.status %></td>
          <td>
            <div>
              <a href="/users/<%= user.id %>"
                ><ion-icon name="pencil" class="color-pencil"></ion-icon
              ></a>
              <a href="/users/delete/<%= user.id %>"
                ><ion-icon name="trash" class="color-trash"></ion-icon
              ></a>
            </div>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>
<!-- /section -->

<!-- footer -->
<%- include('include/footer.ejs') -%>
<!-- /footer -->
