<!-- header -->
<%- include('include/header_admin.ejs') %>
<!-- /header -->

<!-- section -->
<div class="container">
  <div class="text-center">
    <h1 class="text-primary heading">All Users</h1>
  </div>
</div>

<!-- search -->
<div class="container">
  <div class="d-flex float-right margin-bottom">
    <form class="example" action="/search" method="GET">
      <div class="form-group has-search d-flex">
        <input type="text" class="form-control" placeholder="Search By UserId" name="searchText">
        <button type="submit" class="search-btn"><ion-icon name="search"></ion-icon></button>
      </div>
   </form>
  <form action="/limit-user" method="post" id="limitForm">
    <select name="limit" onchange="submitForm()" class="select-box">
      <%
        var options = [ "", "5", "10", "20", "50" ];
        for ( var i = 0; i < options.length; i++ )
        {
            var selected = ( limit == options[ i ] ) ? "selected" : "";
            
            if(options[i] == "") {
            %>
            <option value="<%=options[ i ] %>" <%=selected %>>All</option>
            <% } else{ %>
              <option value="<%=options[ i ] %>" <%=selected %>><%=options[i] %></option>
            <%
            }
        }
      %>
      
    </select>
    </form>
  <!-- 88888888888 -->
  </div>
  </div>
</div>

<div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Username</th>
          <!-- <th scope="col">Password</th> -->
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(function(user) { %>
        <tr>
          <td><%= user._id %></td>
          <td><%= user.firstname %></td>
          <td><%= user.lastname %></td>
          <td><%= user.email %></td>
          <td><%= user.username %></td>
          <!-- <td><%= user.password %></td> -->
          <td><%= user.status %></td>
          <td>
            <div>
              <!-- <a href="/users/<%= user.id %>"
                ><ion-icon name="pencil" class="color-pencil"></ion-icon
              ></a> -->
<a href="/users/<%= user.id %>" data-toggle="modal" data-target="#editUserModal"><ion-icon name="pencil" class="color-pencil"></ion-icon></a>


<% for (let i = 0; i < users.length; i++) { %>
  <%- include('editUserModel.ejs', { user: user }) -%>
<% } %>

              <a href="/users/delete/<%= user.id %>"
                ><ion-icon name="trash" class="color-trash"></ion-icon
              ></a>
            </div>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
</div>

<!-- /section -->

<!-- pagging -->
<div class="container text-center">
  <% if (totalPages > 1) { %>
  <div>
    <% if (page > 1) { %>
    <a href="/users?page=<%= page - 1 %>">Previous</a>
    <% } %> <% if (page < totalPages) { %>
    <a href="/users?page=<%= page + 1 %>">Next</a>
    <% } %>
  </div>
  <% } %>
</div>


  <!-- js for select box -->
  <script>
    function submitForm() {
      document.getElementById('limitForm').submit();
    }
  </script>

<!-- footer -->
<%- include('include/footer.ejs') -%>
<!-- /footer -->
